.main-header {
    display: flex;
    justify-content: space-between;
    background-color: #ff8906; 
    border-bottom: 10px solid #0f0e17;   
    padding: 10px 20px;    
}

.main-header .avatar {
    background-color: #e53170;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;   
}