.main-section {
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #ff8906;
    background-color: #e53170;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color: #0f0e17;
}

.main-section.-bdFirst {
    border-color: #e53170;
}

.main-section.-bgSecond {
    background-color: #ff8906;
}

.main-section.-bdBlack {
    border-color: #0f0e17;
}