.main-carrossel {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
}

.main-carrossel::after {
    content: '';
    display: block;
    position: absolute;    
    left: 50px;
    top: 37px;
    height: 5px;
    width: calc(100% - 100px);
    background-color: #000;
}

.main-carrossel::before {
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
    left: 0px;
    border: 2.5px dashed #000;
    width: 100%;   
    top: 37px; 
}

.main-carrossel .button-arrow {
    position: absolute;
    bottom: 70px; 
    transform: translateY(50%); ;     
}

.main-carrossel .button-arrow.-left {
    left: 15px;
}

.main-carrossel .button-arrow.-right {
    right: 15px;
}

.main-carrossel .items {    
    width: 100%;
    overflow: hidden;
}

.main-carrossel .elements {
    display: flex;
    justify-content: space-evenly;      
    transition: trasform 100ms ease-in-out;
}